body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

/* navbar */

nav {
    display: flex;
    background-color: rgb(198, 36, 31);
    justify-content: space-around;
    /* padding: 20px 0; */
    color: rgb(19, 239, 239);
    height: 50px;
    align-items: center;
}

.logo h4 {
    font-family: 'Pacifico', cursive;
    letter-spacing: 3px;
}

.menu {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

.sub-menu a {
    text-decoration: none;
    color: rgb(56, 235, 175);
    font-size: 0.8em;
}

.sub-menu a:hover {
    color: rgb(232, 251, 245);
}

/* Hamburger Menu */

.toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -10px;
    top: -6px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgb(232, 251, 245);
    border-radius: 3px;
    transition: all 0.5s;
}

/* Hamburger Menu Animation */

.toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.toggle span:nth-child(4) {
    transform-origin: 0 100%;
}


.toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg) translate(-1px, -1px);
}

.toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) translate(-1px, 0);
}

.toggle input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0);
}


/* Responsive brakepoint Ukuran Tablet */

@media screen and (max-width: 768px) {
    .menu {
        width: 50%;
    }
}

/* Responsive brakepoint Ukuran Mobile */

@media screen and (max-width: 576px) {
    .menu {
        position: absolute;
        right: 0;
        top: 0;
        width: 70%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        z-index: -1;
        background-color: rgb(198, 36, 31);
        transform: translateY(0);
        transition: all 1s;
        opacity: 1;
    }

    nav ul.slide {
        transform: translateY(-100%);
        opacity: 0;
    }

    .toggle {
        display: flex;
    }
}