body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: aquamarine;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}

header div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
}

header a  {
    text-decoration: none;
    color: white;

}

.menu {
    display: flex;
    flex-direction: row;
    margin: 2rem;
    
}

.sub-menu {
    margin: 1rem;
}



@media  screen and (max-width: 800px) {
    .menu {
        /* flex-direction: column; */
        display: none;
    }
}